<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new booking!</h1>
    <p>Congratulations, you have just received a booking.Here are the details: </p>
    <p>Name:<%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
    <p>Contact number: <%= @user.phone_num %></p>
    <p>Email: <%= @user.email %></p>
    </p>
    <h3>Event details</h3>
    <p>On: <%= @booking.timeslot.date%> </p>
    <p>Start: <%= @booking.start_time%> </p>
    <p>Set Duration: <%= @booking.duration%> </p>
    <p>Venue: <%= @booking.venue%> </p>
    <p>Address: <%= @booking.address%> </p>
    <p>PA provided: <%= @booking.pa_provided%> </p>
    <p>Message: <%= @booking.message%> </p>

    <p>Login to the app to view your bookings: <%=@url%></p>

  </body>
</html>